@media (max-width: 991px) {
  header {
    padding: 15px 40px;
  }

  header .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }

  header .nav.active {
    display: flex;
  }

  header .nav li {
    margin: 20px 0;
  }
  header .nav li a {
    font-size: 24px;
    margin: 10px 0;
  }

  .toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(/img/Menu-256.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1001;
    transition: 0.2s ease-in;
  }
  .toggleMenu.active {
    background: url(/img/Close-256.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner .bg .content {
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 1;
  }

  .banner img {
    width: 950px;
  }

  .about img {
    width: 50%;
  }

  .animes {
    padding: 80px 100px;
  }

  .animes h2 {
    font-size: 60px;
  }

  .contact {
    flex-direction: column;
  }
  .contact img {
    display: none;
  }
  .contact .form {
    width: 100%;
    margin: 30px;
    padding: 10px;
  }
  .contact .form h1 {
    text-align: center;
    font-size: 50px;
  }

  footer .info ul li {
    height: 40px;
    width: 40px;
  }
  footer .info ul li a {
    font-size: 1.3em;
  }
}

@media (max-width: 420px) {
  header {
    padding: 30px 40px;
  }

  .toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(/img/Menu-256.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1001;
    transition: 0.2s ease-in;
  }
  .toggleMenu.active {
    background: url(/img/Close-256.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .logo {
    font-size: 2em;
  }

  header .action {
    display: none;
  }
  .banner {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
  }

  .banner img {
    display: none;
  }

  .banner .bg .content {
    padding-top: 200px;
    background-color: rgba(9, 18, 31, 0.5);
  }
  .banner .bg .content h2 {
    width: 350px;
    font-size: 2.5em;
  }

  .banner .bg .content p {
    padding-top: 30px;
    font-weight: 100;
  }

  .banner .bg .content {
    gap: 30px;
  }

  .about {
    padding: 120px 20px;
  }
  .about img {
    display: none;
  }

  .about .contentBx h2 {
    font-size: 40px;
  }

  .about .contentBx {
    width: 100%;
    margin: 0px;
  }

  .animes {
    padding: 55px 0px;
  }

  .animes h2 {
    font-size: 40px;
  }

  .news {
    padding: 60px 0px;
  }

  .contact {
    padding: 60px 20px;
  }

  footer {
    padding: 0px;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info .logo {
    font-size: 2em;
  }
}
